body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: gold;
    padding: 50px 20px;
}

h1 {
    font-size: 3em;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    padding: 20px;
    background: black;
    color: white;
}
